##  Actividad 5.2 (Valores Nulos)
## Aplicar m√©todos para reemplazar valores nulos en cada columna de cada dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
data = pd.read_excel('Gastos y costos 20-23.xlsx',skipfooter=5)
data.head(5)

,CALOR Y CONTROL S.A DE C.V,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,GASTO,10418041.6,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,DEDUCCIONES 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IVA,1597941.439,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RET IVA,198890.4,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RET ISR,66039.89,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,FECHA,FOLIO,UUID,RFC,PROVEEDOR,TIPO GASTO,GASTO,DESCRIPCION,TC,IMPORTE,IVA,RET ISR,RET IVA,TOTAL MX,TOTAL SAT,TIPO,STATUS,POLIZA,Columna1

In [12]:
valores_nulos=data.isnull().sum()
valores_nulos

CALOR Y CONTROL S.A DE C.V       3
Unnamed: 1                     193
Unnamed: 2                       4
Unnamed: 3                       4
Unnamed: 4                       4
Unnamed: 5                       4
Unnamed: 6                    2506
Unnamed: 7                       4
Unnamed: 8                     395
Unnamed: 9                      38
Unnamed: 10                    272
Unnamed: 11                      4
Unnamed: 12                      4
GASTO                            1
10418041.6                       1
Unnamed: 15                      5
Unnamed: 16                      4
Unnamed: 17                   3320
Unnamed: 18                      4
dtype: int64

In [4]:
valores_nulos=data.isnull().sum().sum()
valores_nulos

np.int64(6775)

In [5]:
data2=data.copy()

In [6]:

data2["CALOR Y CONTROL S.A DE C.V"] = pd.to_numeric(data2["CALOR Y CONTROL S.A DE C.V"], errors="coerce")
data2["CALOR Y CONTROL S.A DE C.V"].fillna(round(data2["CALOR Y CONTROL S.A DE C.V"].mean(),1), inplace=True)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_15892\2260628091.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2["CALOR Y CONTROL S.A DE C.V"].fillna(round(data2["CALOR Y CONTROL S.A DE C.V"].mean(),1), inplace=True)

In [7]:
valores_nulos=data.isnull().sum()
valores_nulos

CALOR Y CONTROL S.A DE C.V       3
Unnamed: 1                     193
Unnamed: 2                       4
Unnamed: 3                       4
Unnamed: 4                       4
Unnamed: 5                       4
Unnamed: 6                    2506
Unnamed: 7                       4
Unnamed: 8                     395
Unnamed: 9                      38
Unnamed: 10                    272
Unnamed: 11                      4
Unnamed: 12                      4
GASTO                            1
10418041.6                       1
Unnamed: 15                      5
Unnamed: 16                      4
Unnamed: 17                   3325
Unnamed: 18                      4
dtype: int64

In [8]:
#FORWARD
data2["Unnamed: 1"] = data2["Unnamed: 1"].fillna(method="ffill")
data2["Unnamed: 2"] = data2["Unnamed: 2"].fillna(method="ffill")
data2["Unnamed: 3"] = data2["Unnamed: 3"].fillna(method="ffill")
data2["Unnamed: 4"] = data2["Unnamed: 4"].fillna(method="ffill")
data2["Unnamed: 5"] = data2["Unnamed: 5"].fillna(method="ffill")

C:\Users\Usuario\AppData\Local\Temp\ipykernel_15892\871121315.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["Unnamed: 1"] = data2["Unnamed: 1"].fillna(method="ffill")
C:\Users\Usuario\AppData\Local\Temp\ipykernel_15892\871121315.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["Unnamed: 2"] = data2["Unnamed: 2"].fillna(method="ffill")
C:\Users\Usuario\AppData\Local\Temp\ipykernel_15892\871121315.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["Unnamed: 3"] = data2["Unnamed: 3"].fillna(method="ffill")
C:\Users\Usuario\AppData\Local\Temp\ipykernel_15892\871121315.py:5: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["Unnamed: 4"] = data2["Unnamed: 4"].fillna(method="ffill")
C:\Users\Usuario\AppData\Local\Temp\ipykernel_15892\871121315.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["Unnamed: 5"] = data2["Unnamed: 5"].fillna(method="ffill")

In [9]:
valores_nulos=data.isnull().sum()
valores_nulos

CALOR Y CONTROL S.A DE C.V       3
Unnamed: 1                     193
Unnamed: 2                       4
Unnamed: 3                       4
Unnamed: 4                       4
Unnamed: 5                       4
Unnamed: 6                    2506
Unnamed: 7                       4
Unnamed: 8                     395
Unnamed: 9                      38
Unnamed: 10                    272
Unnamed: 11                      4
Unnamed: 12                      4
GASTO                            1
10418041.6                       1
Unnamed: 15                      5
Unnamed: 16                      4
Unnamed: 17                   3325
Unnamed: 18                      4
dtype: int64